<button class="btn btn--primary">BUY NOW</button>
<button class="btn btn--secondary">BUY NOW</button>
<button class="btn btn--accent">BUY NOW</button>
<button class="btn btn--outline">BUY NOW</button>
<button class="btn btn--primary btn--block">BUY NOW</button>
<button class="btn btn--secondary btn--block">BUY NOW</button>
<button class="btn btn--accent btn--block">BUY NOW</button>
<button class="btn btn--outline btn--block">BUY NOW</button>
<a href="#" class="btn btn--accent">Anchor</a>
<a href="#" class="btn btn--primary">Anchor</a>
<a href="#" class="btn btn--secondary">Anchor</a>
<a href="#" class="btn btn--outline">Anchor</a>
<a href="#" class="btn btn--accent btn--block">Anchor</a>
<a href="#" class="btn btn--primary btn--block">Anchor</a>
<a href="#" class="btn btn--secondary btn--block">Anchor</a>
<a href="#" class="btn btn--outline btn--block">Anchor</a>
